span {
    font-weight: bold;
    font-size:60px;
    font-family: 'Staatliches', cursive;
    align-content: center;
    color:#13389c;
}
h1 {
    font-weight:bold;
    font-size:60px;
    font-family: 'Staatliches', cursive;
    
    color:#111c86;
}